<%- include('partials/header'); -%>

<form action="/forgotPassword" method="POST">
  <h2>Forgot Password</h2>
  <label for="password">Enter Email</label>
  <input type="email" name="email"  />
  <div class="email error"></div>
  <button type="submit">Submit</button>
</form>
<div id="message"></div>

<script>
const form = document.querySelector('form')

form.addEventListener('submit', async(el) =>{
  el.preventDefault()

  const email = form.email.value;
  try{

    const res = await fetch('/forgotPassword', {
      method:'POST',
      body: JSON.stringify({ email}),
      headers:{
        'Content-Type':'application/json'
      }
    })
    const result = await res.json()
    const messageEl = document.getElementById('message');
    if(result.error){
      messageEl.tyle.color = 'red'
      messageEl.textContent = `${result.error}something went wrong please try again`
    }else{
      messageEl.style.color = 'green'
      messageEl.textContent = 'Success'
    }
  }catch(err){
    document.getElementById('message').style.color = 'red'
    document.getElementById('message').textContent = `${result.error}something went wrong please try again`

  }
})

</script>