<%- include('partials/header'); -%>

<form action="/resetPassword/<%= token %>" method="PATCH">
  <h2>Sign up</h2>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Reset Password</button>
</form>
