<%- include('partials/header'); -%>

<form action="/resetPassword/<%= token %>" method="PATCH">
  <h2>Reset Password</h2>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Reset Password</button>
</form>
<div id="message"></div>
<script>
const form = document.querySelector('form')

form.addEventListener('Submit', async(el) => {
  el.preventDefault()

  const password = form.password.value;
  const token = '<%= token %>'

  try{
    const response = await fetch(`/resetPassword/${token}`, {
      method:'POST',
      body:json.stringify({password}),
      headers:{
        'Content-Type':'application/json'
      }
    })
    const result = await response.json()
    const messageEl = document.getElementById('message');
    if(result.error){
      messageEl.tyle.color = 'red'
      messageEl.textContent = `${result.error}something went wrong please try again`
    }else{
      messageEl.style.color = 'green'
      messageEl.textContent = 'Success'
    }

  }catch(error){
    document.getElementById('message').style.color = 'red'
    document.getElementById('message').textContent = `${result.error}something went wrong please try again`


  }
})
</script>